$brand-color:       #910029;
$text-color:        #1E1E1E;
$link-base-color:   #257DAD;
$laf-red:           #910029;
$laf-dark-red:      #65001C;
$laf-blue:          #257DAD;
$laf-gray:          #1E1E1E;
$light-gray:        #DCDCDC;
$background-gray:   #F7F7F7;
$transition-speed:  .3s;
$border-color-03:   $brand-color;
$site-title-color:  $text-color;