$brand-color:       #912009;
$text-color:        #1E1E1E;
$link-base-color:   #257DAD;
$laf-red:           #912009;
$laf-dark-red:      #65001C;
$laf-blue:          #257DAD;
$border-color-03:   $brand-color;
$site-title-color:  $text-color;